<app-breadcrumb [itens]="[{text: 'Lançamentos' }]"></app-breadcrumb>
<app-header title="Lançamentos" button-text="+ Nova Lancamento" button-link="new" button-class="btn-success">
</app-header>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Lancamento</th>
      <th>Categoria</th>
      <th class="text-right">Valor R$</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lancamento of listObj">
      <td>
        <strong>{{lancamento.nome}}</strong><br />
        <small class="text-sucess">{{lancamento.data}}</small><br>
        <small *ngIf="lancamento.descricao">{{lancamento.descricao}}</small>
      </td>
      <td>{{lancamento.categoria.nome}}</td>
      <td class="text-right">
        <strong [class.text-success]="lancamento.tipo =='receita'" [class.text-danger]="lancamento.tipo =='despesa' ">
          {{lancamento.valor}}
        </strong>
        <br />
        <span class="badge badge-light">{{lancamento.pagoTexto}}</span>
      </td>
      <td class="text-center">
        <a [routerLink]="[lancamento.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="delete(lancamento)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>