<app-breadcrumb [itens]="[{text: 'Relatório de Receitas e Despesas' }]"></app-breadcrumb>
<app-header title="Relatório de Receitas e Despesas" [show-button]="false"></app-header>

<div class="card">
  <div class="card-header">Selecione o Mês e o Ano para gerar os Relatórios</div>

  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-7">
        <label>Mês</label>
        <select #mes name="mes" id="mes" class="form-control">
          <option value="">Selecione</option>
          <option value="1">Janeiro</option>
          <option value="2">Fevereiro</option>
          <option value="3">Março</option>
          <option value="4">Abril</option>
          <option value="5">Maio</option>
          <option value="6">Junho</option>
          <option value="7">Julho</option>
          <option value="8">Agosto</option>
          <option value="9">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select>
      </div>
      <div class="form-group col-md-5">
        <label for="ano">Ano</label>
        <select #ano name="ano" id="ano" class="form-control">
          <option value="">Selecione</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md text-right">
        <button type="button" (click)="gerarRelatorio()" class="btn btn-primary"> Gerar Relatórios</button>
      </div>
    </div>
  </div>
</div>
<div class="card-deck mt-5 mb-5">
  <div class="card text-center text-white bg-success">
    <div class="card-header">TOTAL DE RECEITAS</div>
    <div class="card-body">
      <h3 class="card-title">{{receitaTotal}}</h3>
    </div>
  </div>
  <div class="card text-center text-white bg-danger">
    <div class="card-header">TOTAL DE DESPESAS</div>
    <div class="card-body">
      <h3 class="card-title">{{despesaTotal}}</h3>
    </div>
  </div>
  <div class="card text-center text-white bg-info">
    <div class="card-header">SALDO</div>
    <div class="card-body">
      <h3 class="card-title">{{saldoTotal}}</h3>
    </div>
  </div>
</div>
<hr>
<div class="row mt-5 mb-4">
  <div class="col-md-6">
    <p-chart type="bar" [data]="receitaDataGrafico" [options]="graficoOptions"></p-chart>
  </div>
  <div class="col-md-6">
    <p-chart type="bar" [data]="despesaDataGrafico" [options]="graficoOptions"></p-chart>
  </div>
</div>