<div class="row mb-4">
  <div class="col-md-9">
    <h1 class="h2 border-left pl-2">{{title}}</h1>
  </div>
  <div *ngIf="mostrarButton" class="col-md-3 text-right">
    <a [routerLink]="buttonLink" class="btn" [ngClass]="buttonClass">
      {{buttonText}}
    </a>
  </div>
</div>