<app-breadcrumb [itens]="[{text: 'Categorias' }]"></app-breadcrumb>
<app-header title="Categorias" button-text="+ Nova Categoria" button-link="new" button-class="btn-success">
</app-header>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Categoria</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categoria of listObj">
      <td>
        <strong>{{categoria.nome}}</strong><br />
        <small>{{categoria.descricao}}</small>
      </td>
      <td>
        <a [routerLink]="[categoria.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="delete(categoria)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>