<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <a class="navbar-brand" routerLink="/">FINAN$YS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" routerLink="/relatorio">Relatórios</a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" routerLink="/lancamento">Lançamentos</a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" routerLink="/categoria">Categorias</a>
      </li>
    </ul>
  </div>
</nav>