<app-breadcrumb [itens]="[{text: 'Lançamentos', link: '/lancamento'}, {text: tituloPagina }]"></app-breadcrumb>
<app-header [title]="tituloPagina" button-text="<< Voltar" button-link="/lancamento" button-class="btn-light">
</app-header>
<form [formGroup]="form" (submit)="salvarEditar()">
  <div class="card">
    <div class="card-header">
      Informações sobre a Lancamento
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="tipo">Tipo</label>
          <select name="tipo" id="tipo" formControlName="tipo" class="form-control">
            <option value="">Selecione</option>
            <option *ngFor="let item of tipos" [value]="item.value">{{item.text}}</option>
          </select>
          <app-form-erro [form-control]="form.get('tipo')"></app-form-erro>
        </div>
        <div class="form-group col-md-5">
          <label for="name">Lançamento</label>
          <input type="text" id="name" class="form-control" formControlName="nome">
          <app-form-erro [form-control]="form.get('nome')"></app-form-erro>
        </div>
        <div class="form-group col-md-3">
          <label for="valor">Valor</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
              <input type="text" class="form-control text-right" id="valor" formControlName="valor"
                [imask]="imaskConfig">
            </div>
          </div>
          <app-form-erro [form-control]="form.get('valor')"></app-form-erro>
        </div>
        <div class="form-group col-md-2">
          <label for="data">Data</label>
          <p-calendar id="data" formControlName="data" inputStyleClass="form-control" dataType="string"
            dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true">
          </p-calendar>
          <app-form-erro [form-control]="form.get('data')"></app-form-erro>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="pago">Pago</label>
          <div class="btn-group">
            <label [class.active]="form.get('pago').value ==true" class="btn btn-outline-info"
              (click)="form.get('pago').setValue(true)">
              Pago
            </label>
            <label [class.active]="form.get('pago').value ==false" class="btn btn-outline-info"
              (click)="form.get('pago').setValue(false)">
              Pedente
            </label>
          </div>
          <app-form-erro [form-control]="form.get('pago')"></app-form-erro>
        </div>
        <div class="form-group col-md-3">
          <label for="categoria_id">Categoria</label>
          <select name="categoria_id" id="categoria_id" formControlName="categoria_id" class="form-control">
            <option value="">Selecione</option>
            <option *ngFor="let item of categorias" [value]="item.id">{{item.nome}}</option>
          </select>
          <app-form-erro [form-control]="form.get('categoria_id')"></app-form-erro>
        </div>
        <div class="form-group col-md-7">
          <label for="descricao">Descrição</label>
          <input type="text" id="descricao" class="form-control" formControlName="descricao">
        </div>
      </div>
    </div>
  </div>
  <app-server-erro [server-error]="msgError"></app-server-erro>
  <button [disabled]="btnSalvar || form.invalid" type="submit"
    class="btn btn-primary btn-lg float-right mt-3">Salvar</button>
</form>