<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>

    <li *ngFor="let item of itens" class="breadcrumb-item" [class.active]="ultimoItem(item)">
      <span *ngIf="ultimoItem(item)">{{item.text}}</span>
      <a *ngIf="!ultimoItem(item)" [routerLink]="item.link">{{item.text}}</a>
    </li>
  </ol>
</nav>