<app-breadcrumb [itens]="[{text: 'Categorias', link: '/categorias'}, {text: tituloPagina }]"></app-breadcrumb>
<app-header [title]="tituloPagina" button-text="Voltar" button-link="/categoria" button-class="btn-light">
</app-header>
<form [formGroup]="form" (submit)="salvarEditar()">
  <div class="card">
    <div class="card-header">
      Informações sobre a Categoria
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Nome</label>
          <input type="text" id="name" class="form-control" formControlName="nome">
          <app-form-erro [form-control]="form.get('nome')"></app-form-erro>

        </div>
        <div class="form-group col-md-8">
          <label for="descricao">Descrição</label>
          <input type="text" id="descricao" class="form-control" formControlName="descricao">
        </div>
      </div>
    </div>
  </div>
  <app-server-erro [server-error]="msgError"></app-server-erro>
  <button [disabled]="btnSalvar || form.invalid" type="submit"
    class="btn btn-primary btn-lg float-right mt-3">Salvar</button>
</form>